*,
*::after,
*::before {
box-sizing: border-box;
}

html {
height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

.container{
width: 1280px;
text-align: center;
margin-left: 100px;
display: flex;
flex-direction: column;
}

.link__company{
font-size: 80px;
line-height: 94px;
display: flex;
align-items: flex-end;
text-align: center;
color: #000000;
margin-bottom: 40px;
}
.company__decor{
    color: blue;
}

.list__main{
background-color: #35444F;
width: 100%;
height: 70px;
}
.item__main{
padding-left: 32px;
box-sizing: border-box;
height: 70px;
border-left: 1px solid #FFFFFF;
padding-top: 20px;
}
.item__main:nth-child(4){
  border-right: 1px solid #FFFFFF;
  padding-right: 20px;  
}
.list__item{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: 24px;
    line-height: 28px;
    padding-left: 194px;
    padding-right: 150px;
}

.link__main{
    color: #fff;
}

.list__left{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    padding-left: 44px;  
}
.item__left{
    display: flex;
    justify-content: left;
    padding-top: 52px;
}
.item__left:nth-child(1){
    padding-top: 24px;
}
.link__left{
    color: #495863;
    font-size: 27px;
    line-height: 27px;
}
.left__menu{
display: flex;
height: 400px;
width: 345px;
margin-top: 40px;
border: 1px solid #495863;
}
.main__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 935px;
    margin-top: 40px;
    padding-left: 50px;
}
.position{
    display: flex;
    justify-content: space-around;
}
.position__image{
    width: 885px;
    margin-bottom: 40px;
    border: 1px solid #000000;
}
.logo__image{
padding: 75px 0px 75px 0px;
}
.logo__image:hover{
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
}
.first__parag, .second__parag {
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.list__footer{
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    
}
.second__parag{
    margin-bottom: 54px;
    margin-top: 34px;
}
.main__footer{
    display: flex;
    flex-wrap: nowrap;
    background: rgba(99, 105, 110, 0.48);  
}
.list__footer{
    height: 30px;
    width: 875px;
}
.item__footer{
padding: 20px 0px 20px 0px;
font-size: 28px;
line-height: 28px;
display: flex;
align-items: center;
}
.status{
    display: flex;
    justify-content: center;
    margin-left: 135px;
    width: 190px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
.link__footer{
color: #0C1927;
}