*,
*::after,
*::before {
box-sizing: border-box;
}

html {
height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.list__item {
    display: inline-block;
    margin-right: 75px;
    font-weight: bold;
    font-size: 18px;
}
.list__link {
    color: #FF0000;
}
.main__image {
width: 100%;
height: 63%;
margin-top: 25,5px;
margin-bottom: 50px;
}
.main__title {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 38px;
}
.text__lorem {
font-size: 16px;
line-height: 26px;
color: #373737;
margin-bottom: 28px;
padding-left: 68px;
padding-right: 68px;
}
.paragraph__2 {
font-size: 16px;
line-height: 26px;
color: #373737;
padding-left: 68px;
padding-right: 68px;
}
.button__title {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 60px;
    width: 190px;
    height: 50px;
    background-color: #FF0000;
    padding: 19px 40px;
    border: 0px solid;
    border-radius: 4px;
    margin-right: 300px;
}
.button__link {
color: #fff;
}
.button__title {
    margin-left: auto;
    margin-right: auto;
}
.main__footer {
    text-align: end;
    font-weight: bold;
    font-size: 16px;
    color: #373737;
}
